<h1>About us... </h1>
<h2><%= @about_me %></h2>
<h2>I am currently learning RnR which seems to be a super friendly framework! </h2> 
<p>2 + 2 = <%= @answer %> </p>
<p> <% answer = 3 + 3 %>
3 + 3 = <%= answer %> </p>
